body, select, button{
	font-family:Calibri;
	background-color:#111111;
	color:#DDDDDD;
	text-align:center;
	margin:10px;
}
a{
	color:inherit;
}
.choiceDescription{
	flex-direction:row;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}
.choiceDescription div{
	padding:25px;
	margin:25px;
	border:1px dotted grey;
    flex-basis: 0;
	min-width:320px;
}